.main{
    background-color:white;
    width: 1350px;
    height: 640px;
    margin: auto;
}
.header{
    background-color:green;
    width: 1350px;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ads{
    background-color:red    ;
    width: 150px;
    height: 100px;
    float: right;
    margin-left: 5px;
    
}
.conatent{
    background-color: green;
    width: 1350px;
    height: 490px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navigation{
    background-color: red;
    height: 490px;
    width: 150px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 6px;
}
.footer{
    background-color:green;
    width: 1350px;
    height: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 2px;
}

