* {
    margin: 0px;
    padding: 0px;

}

.home {
    background-color: red;
    height: 100vh;
    flex-direction: column;
    display: flex;

}

header {
    background-color: blue;
    flex-basis: 10%;
}

.logo {
    background-color: yellow;
    height: 20vh;
    width: 30vh;
}

.feature {
    background-color: yellow;
    height: 80vh;
    flex-direction: row;
    display: flex;
    text-align: center;
}

.box-1 {
    background-color: green;
    height: 50vh;
    width: 60vh;
    margin-top: 70px;
    margin-right: 20px;
    text-align: center;
}

.box-2 {
    background-color: gray;
    height: 50vh;
    width: 60vh;
    margin-top: 70px;
    margin-right: 20px;
    text-align: center;
}

.box-3 {
    background-color: orangered;
    height: 50vh;
    width: 60vh;
    margin-top: 70px;
    margin-right: 20px;
    text-align: center;
}

.about {
    background-color: brown;
    height: 80vh;
    flex-direction: row;
    display: flex;
    text-align: center;
}

.img-box {
    background-color: darkblue;
    height: 70vh;
    width: 70vh;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: -55px;
    text-align: center;
}

.text-box {
    background-color: magenta;
    height: 70vh;
    width: 120vh;
    margin-top: 40px;
    text-align: center;
}

.review {
    background-color: aqua;
    height: 70vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.box-4 {
    background-color: tomato;
    height: 40vh;
    width: 50vh;
    margin-top: 80px;
    margin-right: 20px;
    text-align: center;
}

.box-5 {
    background-color: chartreuse;
    height: 40vh;
    width: 50vh;
    margin-top: 80px;
    margin-right: 20px;
    text-align: center;
}

.box-6 {
    background-color: crimson;
    height: 40vh;
    width: 50vh;
    margin-top: 80px;
    text-align: center;
}

.pricing {
    background-color: green;
    height: 70vh;
    display: flex;
    flex-direction: row;
    text-align: center;

}

.box-7 {
    background-color: chartreuse;
    height: 50vh;
    width: 60vh;
    margin-top: 60px;
    margin-right: 15px;
    text-align: center;
}

.box-8 {
    background-color: rgb(98, 0, 255);
    height: 50vh;
    width: 60vh;
    margin-top: 60px;
    margin-right: 15px;
    text-align: center;
}

.box-9 {
    background-color: rgb(255, 0, 0);
    height: 50vh;
    width: 60vh;
    margin-top: 60px;
    margin-right: 15px;
    text-align: center;
}

.contact {
    background-color: violet;
    height: 70vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.form {
    background-color: springgreen;
    height: 60vh;
    width: 70vh;
    margin-top: 40px;
    margin-left: 590px;
    text-align: center;
}