
.container{
    background-color:tomato;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 20px red;
    
}
header{
    background-color:aquamarine;
    flex-basis: 10%;
    justify-content: center;
    text-align: center;
    line-height: 100PX;
    font-size: 30PX;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 2px 1px 4px red;
}
main{
    background-color: brown;
    flex-basis: 80%;
    display: flex;
    text-shadow: 2px 1px 4px red;
}
aside{
    background-color: yellowgreen;
    flex-basis: 25%;
    justify-content: center;
    text-align: center;
    line-height: 500PX;
    font-size: 30PX;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 2px 1px 4px red;

}
article{
    background-color:green;
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 100PX;
    font-size: 30PX;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 4px 2px 8px red;
}
.img-1{
    flex-basis: 10%;
    display: flex;
    background-color: gray;
    height: 30vh;
    flex-grow: 0.20;
    position: relative;
    top: 300px;
    flex-direction: row; 
    margin-left: 20px;
    justify-content: center;
}
.img-2{
    flex-basis: 10%;
    display: flex;
    background-color: gray;
    height: 30vh;
    flex-grow: 0.20;
    position: relative;
    top: 300px;
    flex-direction: row; 
    margin-left: 20px;
    justify-content: center;
}
.img-3{
    flex-basis: 10%;
    display: flex;
    background-color: gray;
    height: 30vh;
    flex-grow: 0.20;
    position: relative;
    top: 300px;
    flex-direction: row; 
    margin-left: 20px;
    justify-content: center;
}
footer{
    background-color: aquamarine;
    flex-basis: 10%;
    text-align: center;
    line-height: 50PX;
    font-size: 30PX;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 2px 1px 4px red;
}
