*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
}
.container{
    background-color: yellow;
    height: 100vh;
}
header{
    background-color: red;
    height: 20vh;
}
main{
    background-color: green;
    height: 60vh;
    display: flex;
}
.leftsidebar{
    background-color: blue;
    flex-grow: 1;
}
.maincontent{
    background-color: purple;
    flex-grow: 1;
}
.rightsidebar{
    background-color: orangered;
    flex-grow: 1;
}
footer{
    background-color: magenta;
    height: 20vh;
}
