*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
td a{
    text-decoration: none;
    display: block;
    color: red;
    font-weight: bolder;
}
table{
    background-color:black;
    box-sizing: border-box;
    /* border-style: dotted; */
}
th{
    color: red;
    font-weight: bolder;
}
td{
    color: red;
    font-weight: bolder;
}
