*{
    padding: 0px;
    margin: 0px;
    
}
.Header{
    height: 100vh;
    width: 100%;
    background-image: url(images2/black-dark-trees-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: whitesmoke;
    font-size: 30px;
}
.logo:hover{
        transform: scale(1.5);
        cursor: pointer;
}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    color: red;
}
button{
    /* border: none; */
    background-color: red;
    padding: 15px 30px;
    border-radius: 35px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 15px;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}