* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.main {
    background-color: yellow;
    height: 100vh;
    width: 180vh;
    margin: auto;

}

.hedaer {
    background-color: skyblue;
    height: 10vh;
}

.content {
    background-color: blue;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.hero {
    background-color: red;
    height: 20vh;
}

.content1 {
    background-color: green;
    height: 60vh;
    width: 100vh;
}

.sidebar {
    background-color: darkblue;
    height: 60vh;
    width: 80vh;
}

.footer {
    background-color: darkgray;
    height: 10vh;
}