
.container{
    background-color: orangered;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: blue;
    flex-basis: 15%;
}
main{
    background-color: gray;
    flex-basis: 70%;
    display: flex;
    
}
nav{
    background-color: yellow;
    flex-basis: 25%;
    flex-grow: 2;
}
article{
    background-color: violet;
    flex-basis: 50%;
    flex-grow: 4;
}
aside{
    background-color: green;
    flex-basis: 25%;
    flex-grow: 2;
}






footer{
    background-color: brown;
    flex-basis: 15%;

}