
html,body{
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.8em;
    color:darkgray;
}
.img-1{
    background-image: url(image/img1.jpg);
    height: 100%;
}
.img-2{
    background-image: url(image/img2.jpg);
    height: 400px;
}
.img-3{
    background-image: url(image/img3.jpg);
    height: 400px;
}
.img-1, .img-2, .img-3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.text-1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text-2{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.content-1{
    padding: 50px 80px;
    text-align: center;
    background-color:white;
    color:black;
}
.content-2{
    background-color: black;
    color: whitesmoke;
    padding: 50px 80px;
    text-align: center;
}

